<% emp_num = @employee.id_number %>
<% emp_name = @employee.name %>
<div class="text-center">
  <h1 class="headings">
    <strong>
      <% if @employee.changed? %>
        <%= @employee.reload.id_number %>
      <% else %>
        <%= @employee.id_number %>
      <% end %>
    </strong>
  </h1>
  <h3>
    <strong><%= @employee.name %></strong>
  </h3>
</div><br>
<% if logged_in? %>
  <div class="form-container">
    <div class="text-center">
      <h2>Update Employee</h2>
    </div>
    <%= render 'employees/error_messages' %>
    <%= form_for @employee do |e| %>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= e.label :id_number, "ID number", :class => "input-group-text input-group-addon" %>
        </div>
        <%= e.text_field :id_number, :value => emp_num, :autocomplete => "off", :class => "form-control", :autofocus => true %>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= e.label :name, :class => "input-group-text input-group-addon"%>
        </div>
        <%= e.text_field :name, :value => emp_name, :autocomplete => "off", :class => "form-control" %>
      </div><br>
      <div>Currently active? <%= e.check_box :active, :class => "check-box-employee" %></div>
      <div class="text-center">
        <%= e.submit :class => "btn btn-secondary" %>
      </div>
    <% end %><br>
    <p>Amount of tickets stored: <%= Detail.where(stored_employee: @employee.id).count %></p>
    <p>Amount of tickets retrieved: <%= Detail.where(retrieved_employee: @employee.id).count %></p>
    <p>Amount of tickets stored today: <%= Detail.where(stored_employee: @employee.id).where("created_at > ?", Time.now.in_time_zone("Melbourne").at_beginning_of_day).count %></p>
    <p>Amount of tickets retrieved today: <%= Detail.where(retrieved_employee: @employee.id).where("updated_at > ?", Time.now.in_time_zone("Melbourne").at_beginning_of_day).count %></p>
  </div>
  <% end %>
