<div class="container">
  <div class="text-center">
    <h1>Search</h1>
  </div>
  <div class="form-container">
    <%= form_tag("/search", method: :get) do %>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= label_tag(:ticket, "Ticket number", :class => "input-group-text search-form-addon") %>
        </div>
          <%= text_field_tag(:ticket, params[:ticket], :class => "form-control", :autofocus => true) %>
          <div class="input-group-append">
            <%= submit_tag("Search", name: nil, :class => "btn btn-secondary") %>
          </div>
      </div>
    <% end %><br>

    <%= form_tag("/search", method: :get) do %>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= label_tag(:name, "Guest name", :class => "input-group-text search-form-addon") %>
        </div>
          <%= text_field_tag(:name, params[:name], :class => "form-control") %>
          <div class="input-group-append">
            <%= submit_tag("Search", name: nil, :class => "btn btn-secondary") %>
          </div>
        </div>
    <% end %><br>

    <%= form_tag("/search", method: :get) do %>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= label_tag(:room, "Room number", :class => "input-group-text search-form-addon") %>
        </div>
          <%= text_field_tag(:room, params[:room], :class => "form-control") %>
          <div class="input-group-append">
            <%= submit_tag("Search", name: nil, :class => "btn btn-secondary") %>
          </div>
        </div>
    <% end %><br>

    <%= form_tag("/search", method: :get) do %>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= label_tag(:name_date, "Guest name", :class => "input-group-text search-form-addon") %>
        </div>
          <%= text_field_tag(:name_date, params[:name_date], :class => "form-control") %>
          <%= date_select(:date, :date, { :order => [:day, :month, :year], :start_year => 2018, :end_year => Date.current.year, :use_month_numbers => true }, :class => "form-control") %>
          <div class="input-group-append">
            <%= submit_tag("Search", name: nil, :class => "btn btn-secondary") %>
          </div>
        </div>
    <% end %><br>
  </div>
  <br>

  <% if params[:ticket].present? %>
    <% if @ticket.present? %>
      <%= render "shared/show_ticket", ticket: @ticket %>
    <% else %>
      <p> No Records Found </p>
    <% end %>
  <% elsif params[:name].present? %>
    <% if @tickets.present? %>
      <%= render 'pages/current_table_head' %>
        <tbody>
          <% @tickets.each do |ticket| %>
            <tr>
              <%= render "tickets/search", ticket: ticket %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p> No Records Found </p>
    <% end %>
    <% elsif params[:name_date].present? %>
      <% if @tickets.present? %>
        <%= render 'pages/current_table_head' %>
          <tbody>
            <% @tickets.each do |ticket| %>
              <tr>
                <%= render "tickets/search", ticket: ticket %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p> No Records Found </p>
      <% end %>
  <% elsif params[:room].present? %>
    <% if @ticket.present? %>
      <%= render 'pages/current_table_head' %>
        <tbody>
          <% @ticket.each do |ticket| %>
            <tr>
              <%= render "tickets/search", ticket: ticket %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p> No Records Found </p>
    <% end %>
  <% end %>
  <br>
  <div class="text-center">
    <a class="btn btn-secondary btn-lg" href="/">Home</a>
  </div>
</div>
