<div class="container">
  <div class="text-center">
    <h1>Search</h1>
  </div>
  <div class="form-container">
    <%= form_tag("/search", method: :get) do %>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= label_tag(:search_for_ticket, "Ticket number", :class => "input-group-text search-form-addon") %>
        </div>
          <%= text_field_tag(:search_for_ticket, params[:search_for_ticket], :class => "form-control", :autofocus => true) %>
          <div class="input-group-append">
            <%= submit_tag("Search", name: nil, :class => "btn btn-secondary") %>
          </div>
      </div>
    <% end %><br>

    <%= form_tag("/search", method: :get) do %>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= label_tag(:search_for_name, "Guest name", :class => "input-group-text search-form-addon") %>
        </div>
          <%= text_field_tag(:search_for_name, params[:search_for_name], :class => "form-control") %>
          <div class="input-group-append">
            <%= submit_tag("Search", name: nil, :class => "btn btn-secondary") %>
          </div>
        </div>
    <% end %><br>

    <%= form_tag("/search", method: :get) do %>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= label_tag(:search_for_room, "Room number", :class => "input-group-text search-form-addon") %>
        </div>
          <%= text_field_tag(:search_for_room, params[:search_for_room], :class => "form-control") %>
          <div class="input-group-append">
            <%= submit_tag("Search", name: nil, :class => "btn btn-secondary") %>
          </div>
        </div>
    <% end %>
  </div>
  <br>

  <% if params[:search_for_ticket].present? %>
    <% if @ticket.present? %>
      <%= render "tickets/show", ticket: @ticket %>
    <% else %>
      <p> No Records Found </p>
    <% end %>
  <% elsif params[:search_for_name].present? %>
    <% if @tickets.present? %>
      <%= render 'pages/table_head' %>
        <tbody>
          <% @tickets.each do |ticket| %>
            <tr>
              <%= render "tickets/search", ticket: ticket %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p> No Records Found </p>
    <% end %>
  <% elsif params[:search_for_room].present? %>
    <% if @ticket.present? %>
      <%= render 'pages/table_head' %>
        <tbody>
          <% @ticket.each do |ticket| %>
            <tr>
              <%= render "tickets/search", ticket: ticket %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p> No Records Found </p>
    <% end %>
  <% end %>
  <br>
  <div class="text-center">
    <a class="btn btn-secondary btn-lg" href="/">Home</a>
  </div>
</div>
