<div class="text-center">
  <h1>Search</h1>
</div>
<div class="form-container">
  <%= form_tag("/search", :autocomplete => "off", remote: true, method: :get) do %>
    <div class="input-group">
      <div class="input-group-prepend">
        <%= label_tag(:name, "Guest name", :class => "input-group-text search-form-label") %>
      </div>
      <%= text_field_tag(:name, params[:name], :class => "form-control") %>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <%= label_tag(:room, "Room number", :class => "input-group-text search-form-label") %>
      </div>
      <%= text_field_tag(:room, params[:room], :class => "form-control") %>
    </div>
    <div class="input-group input-daterange">
      <div class="input-group-prepend">
        <%= label_tag(:ds, "Created from", :class => "input-group-text search-form-label") %>
      </div>
      <%= text_field_tag(:ds, params[:ds], data:{ provide:'datepicker' },
          :value => (params[:ds] ||=
          Time.now.in_time_zone("Melbourne").strftime('%d/%m/%Y')),
          :class => "form-control" ) %>
      <label class="input-group-text input-group-append input-group-prepend" for="de">to</label>
      <%= text_field_tag(:de, params[:de], data:{ provide:'datepicker'},
          :value => (params[:de] ||=
          Time.now.in_time_zone("Melbourne").strftime('%d/%m/%Y')),
          :class => "form-control" ) %>
    </div><br>
    <div class="text-center">
      <%= submit_tag("Search", name: nil, :class => "btn btn-secondary") %>
    </div>
  </div>
  <% end %><br>
  <script type="text/javascript">
  $(document).ready(function() {
     $('.input-daterange').datepicker({
       orientation: 'bottom',
       format: 'dd/mm/yyyy',
       weekStart: 1,
       endDate: "0d"
            });
  });
</script>
