    <tr>
      <td class="align-middle"><%= ticket.latest_details.aasm_state %></td>
      <td class="align-middle"><%= ticket.latest_details.amount %></td>
      <td class="align-middle"><%= ticket.latest_details.location %></td>
      <td class="align-middle"><%= ticket.latest_details.room %></td>
      <td class="align-middle"><%= ticket.latest_details.comment %></td>
      <td class="align-middle"><%= ticket.latest_details.stored_employee.id_number %>
        - <%= ticket.latest_details.stored_employee.name %>
        @ <%= ticket.latest_details.created_at.in_time_zone("Melbourne").strftime('%H:%M - %d/%m/%y') %></td>
      <% if ticket.latest_details.retrieved_employee.nil? %>
        <td class="align-middle">
          <%= form_for ticket do |f| %>
            <%= f.fields_for :details, ticket.latest_details do |d| %>
              <%= d.hidden_field :updated_at, value: Time.now %>
              <div class="input-group input-group-sm">
                <%= d.text_field :r_employee_id, :autocomplete => "off", :class => "form-control" %>
            <% end %>
              <div class="input-group-append">
                <%= f.submit "Sign out", :class => "btn btn-outline-secondary btn-sm" %>
              </div>
            </div>
          <% end %>
        </td>
      <% else %>
        <td class="align-middle"><%= ticket.latest_details.retrieved_employee.id_number %>
          - <%= ticket.latest_details.retrieved_employee.name %>
          @ <%= ticket.latest_details.updated_at.in_time_zone("Melbourne").strftime('%H:%M - %d/%m/%y') %></td>
      <% end %>
    </tr>
  </tbody>
</table>
