<% @current_tickets.each do |ticket| %>
  <p>
    <%= render 'tickets/search', ticket: ticket %>

    <%= form_for ticket do |f| %>
      <%= f.fields_for :details, f.object.latest_details do |d| %>
        <%= d.hidden_field :updated_at, value: Time.now %>
        <%= d.text_field :r_employee_id %>
      <% end %>
      <%= f.submit "Sign out" %>
    <% end %>
  </p>
<% end %>
