<div class="text-center">
  <h1 class="headings">Storage</h1>

  <%= render 'tickets/new_ticket' %>

  <div class="form-container">
    <%= form_tag("/search/show", :autocomplete => "off", remote: true, method: :get) do %>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= label_tag(:name, "Guest name", :class => "input-group-text search-form-addon") %>
        </div>
        <%= text_field_tag(:name, params[:name], :class => "form-control") %>
        <div class="input-group-append">
          <%= submit_tag("Search", name: nil, :class => "btn btn-secondary") %>
        </div>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= label_tag(:room, "Room number", :class => "input-group-text search-form-addon") %>
        </div>
        <%= text_field_tag(:room, params[:room], :class => "form-control") %>
        <div class="input-group-append">
          <%= submit_tag("Search", name: nil, :class => "btn btn-secondary") %>
        </div>
      </div>
    <% end %>
  </div><br>
</div>
<div id="search"><%= render 'search/search_results' %></div>

<div class="text-center">
  <a href="/search/" class="btn btn-secondary btn-lg">Advanced Search</a><br><br>

  <h1>Current tickets</h1>
</div>
