<%= flash[:danger]%>

<p>
  <%= form_tag("/tickets", method: :get) do %>
  <%= label_tag(:ticket_number, "Ticket number") %><br>
  <%= text_field_tag(:ticket_number) %><br><br>
  <%= submit_tag("Submit", name: nil) %>
<% end %>
</p>

<a href="/">Back</a>
