<div class="container">
  <div class="form-container">
    <%= flash[:danger] %>
    <%= form_tag("/tickets", method: :get) do %>
    <div class="input-group">
      <div class="input-group-prepend">
        <%= label_tag(:ticket_number, "Ticket number", :class => "input-group-text") %><br>
      </div>
      <%= text_field_tag(:ticket_number, "", :class => "form-control", :autofocus => true) %>
      <div class="input-group-append">
        <%= submit_tag("Submit", name: nil, :class => "btn btn-secondary") %>
      </div>
    </div>
    <% end %>
    <br>
    <div class="text-center">
      <a class="btn btn-secondary btn-lg" href="/">Home</a>
    </div>
  </div>
</div>
