<h2>Number: <%= params[:number] %> </h1>

<p>
  <%= f.hidden_field :number, value: params[:number] %>
</p>

<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

<%= f.fields_for :details do |d| %>
  <p>
    <%= d.label :amount %> <br>
    <%= d.text_field :amount %>
  </p>

  <p>
    <%= d.label :location %> <br>
    <%= d.text_field :location %>
  </p>

  <p>
    <%= d.label :search_id, "Stored employee" %> <br>
    <%= d.text_field :search_id %>
  </p>

  <p>
    <%= d.label :retrieved_employee_id %> <br>
    <%= d.text_field :retrieved_employee_id %>
  </p>

<% end %>

<p>
  <%= f.submit %>
</p>

<a href="/">Back</a>
