<%= flash[:danger]%>
<% if @ticket.number.nil? %>
  <% @ticket.number = params[:number] %>
<% end %>
<h2>Number: <%= @ticket.number %> </h1>


<p>
  <%= f.hidden_field :number %>
</p>

  <%= render 'shared/error_messages' %>

<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

<%= f.fields_for :details do |d| %>
  <p>
    <%= d.label :amount %> <br>
    <%= d.text_field :amount %>
  </p>

  <p>
    <%= d.label :location %> <br>
    <%= d.text_field :location %>
  </p>

  <p>
    <%= d.label :room %> <br>
    <%= d.text_field :room %>
  </p>

  <p>
    <%= d.label :s_employee_id, "Stored employee" %> <br>
    <%= d.text_field :s_employee_id %>
  </p>

<% end %>

<p>
  <%= f.submit %>
</p>

<a href="/">Back</a>
