<th scope="row" class="align-middle"><a href="/tickets/<%= ticket.id %>"><%= ticket.number %></a></th>
<td class="align-middle"><%= ticket.name %></td>
<% tdf = ticket.details.first %>
<td class="align-middle"><%= tdf.amount %></td>
<td class="align-middle"><%= tdf.location %></td>
<td class="align-middle"><%= tdf.room %></td>
<td class="align-middle"><%= tdf.stored_employee.id_number %>
  - <%= ticket.details.first.stored_employee.name %>
  @ <%= tdf.created_at.in_time_zone("Melbourne").strftime('%H:%M - %d/%m/%y') %></td>
