<th scope="row" class="align-middle"><%= ticket.details.first.aasm_state %></th>
<td class="align-middle"><a href="/tickets/<%= ticket.id %>"><%= ticket.number %></a></td>
<td class="align-middle"><%= ticket.name %></td>
<td class="align-middle"><%= ticket.details.first.amount %></td>
<td class="align-middle"><%= ticket.details.first.location %></td>
<td class="align-middle"><%= ticket.details.first.room %></td>
<td class="align-middle"><%= ticket.details.first.stored_employee.id_number %>
  - <%= ticket.details.first.stored_employee.name %>
  @ <%= ticket.details.first.created_at.in_time_zone("Melbourne").strftime('%H:%M - %d/%m/%y') %></td>
