<th scope="row" class="align-middle"><%= ticket.latest_details.aasm_state %></th>
<td class="align-middle"><a href="/tickets/<%= ticket.id %>"><%= ticket.number %></a></td>
<td class="align-middle"><%= ticket.name %></td>
<td class="align-middle"><%= ticket.latest_details.amount %></td>
<td class="align-middle"><%= ticket.latest_details.location %></td>
<td class="align-middle"><%= ticket.latest_details.room %></td>
<td class="align-middle"><%= ticket.latest_details.comment %></td>
<td class="align-middle"><a href="/employees/<%= ticket.latest_details.stored_employee.id %>"><%= ticket.latest_details.stored_employee.id_number %></a>
  @ <%= ticket.latest_details.created_at.in_time_zone("Melbourne").strftime('%H:%M - %d/%m/%y') %></td>
<% if (params[:controller] == 'pages' && %w(relog).include?(params[:action])) %>
  <%= render 'shared/relog_sign_out', ticket: ticket %>
<% else %>
  <%= render 'shared/sign_out', ticket: ticket %>
<% end %>
