<div class="text-center">
  <h1>
    <strong>
      <a href="<%= ticket_path(@ticket.id) %>"> <%= @ticket.number %> </a>
    </strong>
  </h1>

  <h3>
    <strong><%= @ticket.name %></strong>
  </h3>
  <h3>Current details</h3>
</div>
<div class="form-container">
  <%= render 'shared/sign_out_error_message' %>
</div>

<table class="table table-striped table-dark table-sm">
  <thead>
    <tr>
      <th style="width: auto">Type</th>
      <th style="width: auto">Amount</th>
      <th style="width: auto">Location</th>
      <th style="width: auto">Room</th>
      <th style="width: auto%">Stored by</th>
      <th style="width: 20%">Time</th>
      <% if @ticket.latest_details.retrieved_employee.nil? %>
        <th style="width: auto%">Sign out</th>
      <% else %>
        <th style="width: auto%">Retrieved by</th>
        <th style="width: auto">Time</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-middle"><%= @ticket.latest_details.aasm_state %></td>
      <td class="align-middle"><%= @ticket.latest_details.amount %></td>
      <td class="align-middle"><%= @ticket.latest_details.location %></td>
      <td class="align-middle"><%= @ticket.latest_details.room %></td>
      <td class="align-middle"><%= @ticket.latest_details.stored_employee.id_number %>
        - <%= @ticket.latest_details.stored_employee.name %></td>
      <td class="align-middle"><%= @ticket.latest_details.created_at.
            in_time_zone("Melbourne").strftime('%H:%M - %d/%m/%y') %></td>
      <% if @ticket.latest_details.retrieved_employee.nil? %>
        <td class="align-middle">
          <%= form_for @ticket do |f| %>
            <%= f.fields_for :details, @ticket.latest_details do |d| %>
              <%= d.hidden_field :updated_at, value: Time.now %>
              <div class="input-group input-group-sm">
                <%= d.text_field :r_employee_id , :class => "form-control", :style => "width: 50px" %>
            <% end %>
              <div class="input-group-append">
                <%= f.submit "Sign out", :class => "btn btn-outline-secondary btn-sm" %>
              </div>
            </div>
          <% end %>
        </td>
      <% else %>
        <td class="align-middle"><%= @ticket.latest_details.retrieved_employee.id_number %>
          - <%= @ticket.latest_details.retrieved_employee.name %>
          @ <%= @ticket.latest_details.updated_at.in_time_zone("Melbourne").strftime('%H:%M - %d/%m/%y') %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<% if @ticket.details.count > 1 %>
  <div class="text-center">
    <h3>Previous details</h3>
  </div>
  <table class="table table-striped table-dark table-sm">
    <thead>
      <tr>
        <th style="width: auto">Amount</th>
        <th style="width: auto">Location</th>
        <th style="width: auto">Room</th>
        <th style="width: auto%">Stored by</th>
        <th style="width: 20%">Time</th>
        <th style="width: auto%">Retrieved by</th>
        <th style="width: auto">Time</th>
      </tr>
    </thead>
    <tbody>
      <% @ticket.details.drop(1).each do |d| %>
        <% if d.stored_employee %>
          <tr>
            <td class="align-middle"><%= d.amount %></td>
            <td class="align-middle"><%= d.location %></td>
            <td class="align-middle"><%= d.room %></td>
            <td class="align-middle"><%= d.stored_employee.id_number %>
              - <%= d.stored_employee.name %></td>
            <td class="align-middle"><%= d.created_at.in_time_zone("Melbourne").strftime('%H:%M - %d/%m/%y') %></td>
            <% if d.retrieved_employee %>
              <td class="align-middle"><%= d.retrieved_employee.id_number %>
               - <%= d.retrieved_employee.name %></td>
              <td class="align-middle"><%= d.updated_at.in_time_zone("Melbourne").strftime('%H:%M - %d/%m/%y') %></td>
            <% else %>
            <td class="align-middle"> - </td>
            <td class="align-middle"> - </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="text-center">
  <h1>Update details</h1>
</div>
<div class="form-container">
  <%= render 'shared/error_messages' %>
</div>
<div class="form-container">
  <%= form_for @ticket, method: "post" do |f| %>
    <%= f.fields_for :details, @ticket.new_detail do |d| %>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= d.label :amount, :class => "input-group-text input-group-addon" %>
        </div>
        <% if @ticket.errors.any? %>
          <%= d.text_field :amount, :value => params[:ticket][:details_attributes]['0'][:amount], :class => "form-control" %>
        <% else %>
          <%= d.text_field :amount, :value => @ticket.latest_details.amount, :class => "form-control" %>
        <% end %>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= d.label :location, :class => "input-group-text input-group-addon" %>
        </div>
        <% if @ticket.errors.any? %>
          <%= d.text_field :location, :value => params[:ticket][:details_attributes]['0'][:location], :class => "form-control" %>
        <% else %>
          <%= d.text_field :location, :value => @ticket.latest_details.location, :class => "form-control" %>
        <% end %>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= d.label :room, :class => "input-group-text input-group-addon" %>
        </div>
        <% if @ticket.errors.any? %>
          <%= d.text_field :room, :value => params[:ticket][:details_attributes]['0'][:room], :class => "form-control" %>
        <% else %>
          <%= d.text_field :room, :value => @ticket.latest_details.room, :class => "form-control" %>
        <% end %>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= d.label :s_employee_id, "Employee", :class => "input-group-text input-group-addon" %>
        </div>
        <% if @ticket.errors.any? %>
          <%= d.text_field :s_employee_id, :value => params[:ticket][:details_attributes]['0'][:s_employee_id], :class => "form-control" %>
        <% else %>
          <%= d.text_field :s_employee_id, :class => "form-control" %>
        <% end %>
      </div>
    <% end %><br>
    <div class="text-center">
      <%= f.submit "Update details", :class => "btn btn-secondary"  %>
    </div>
  <% end %>
</div>
