<div class="text-center">
  <h1 class="headings">
    <strong>
      <%= @ticket.number %>
    </strong>
  </h1>

  <h3><strong><%= @ticket.name %></strong></h3>
  <% if @ticket.active %>
    <%= link_to("Edit name", {:action => 'show_name', :id => @ticket.id}) %><br>
  <% end %>
  <br>
  <h3>Current details</h3>
</div>
<div class="form-container">
  <%= render 'shared/sign_out_error_message' %>
</div>

<%= render 'shared/ticket_table_head' %>
<%= render 'shared/ticket_table_body', ticket: @ticket %>

<% if @ticket.details.count > 1 %>
  <div class="text-center">
    <h3>Previous details</h3>
  </div>
    <%= render 'shared/ticket_table_head' %>
      <% @ticket.details.drop(1).each do |d| %>
        <% if d.stored_employee %>
          <tr>
            <td class="align-middle"><%= d.aasm_state %></td>
            <td class="align-middle"><%= d.amount %></td>
            <td class="align-middle"><%= d.location %></td>
            <td class="align-middle"><%= d.room %></td>
            <td class="align-middle"><%= d.comment %></td>
            <td class="align-middle"><a href="/employees/<%= d.stored_employee.id %>"><%= d.stored_employee.id_number %></a>
              @ <%= d.created_at.in_time_zone("Melbourne").strftime('%H:%M - %d/%m/%y') %></td>
            <% if d.retrieved_employee %>
              <td class="align-middle"><a href="/employees/<%= d.retrieved_employee.id %>"><%= d.retrieved_employee.id_number %></a>
               @ <%= d.updated_at.in_time_zone("Melbourne").strftime('%H:%M - %d/%m/%y') %></td>
            <% else %>
            <td class="align-middle"> - </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="text-center">
  <h1>Update details</h1>
</div>
<div class="form-container">
  <%= render 'shared/error_messages' %>
</div>
<div class="form-container">
  <%= form_for @ticket, method: "post" do |f| %>
    <%= f.fields_for :details, f.object.new_detail do |d| %>
      <noscript>
        <div class="text-center">
          <div class="btn-group btn-group-toggle">
            <%= d.label :aasm_state, 'ST' %>
            <%= d.radio_button :aasm_state, :ST, :autocomplete => "off" %>

            <%= d.label :aasm_state, 'RNR' %>
            <%= d.radio_button :aasm_state, :RNR, :autocomplete => "off" %>


            <%= d.label :aasm_state, 'LT' %>
            <%= d.radio_button :aasm_state, :LT, :autocomplete => "off" %>
          </div>
        </div>
        <style type="text/css">
          #js-radio-button { display:none; }
        </style>
      </noscript>
      <div class="text-center" id="js-radio-button">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <%= d.label :aasm_state, 'ST', :id => "ST_button",
          :class => "btn btn-secondary" + (params.has_key?(:ticket) ?
          ((params[:ticket][:details_attributes]['0'][:aasm_state] == "ST") ?
          " active" : "") : " active") do %>ST
            <%= d.radio_button :aasm_state, :ST, :checked =>
            (params.has_key?(:ticket) ?
            (params[:ticket][:details_attributes]['0'][:aasm_state] == "ST") : true),
            :id => "option1", :autocomplete => "off" %>
          <% end %>

          <%= d.label :aasm_state, 'RNR', :id => "RNR_button",
          :class => "btn btn-secondary" + ((params.has_key?(:ticket) &&
          (params[:ticket][:details_attributes]['0'][:aasm_state] == "RNR")) ?
          " active" : "") do %>RNR
            <%= d.radio_button :aasm_state, :RNR, :checked =>
            (params.has_key?(:ticket) ?
            (params[:ticket][:details_attributes]['0'][:aasm_state] == "RNR") : false),
            :id => "option2", :autocomplete => "off" %>
          <% end %>

          <%= d.label :aasm_state, 'LT', :id => "LT_button",
          :class => "btn btn-secondary" + ((params.has_key?(:ticket) &&
          (params[:ticket][:details_attributes]['0'][:aasm_state] == "LT")) ?
          " active" : "") do %>LT
            <%= d.radio_button :aasm_state, :LT, :checked =>
            (params.has_key?(:ticket) ?
            (params[:ticket][:details_attributes]['0'][:aasm_state] == "LT") : false),
            :id => "option3", :autocomplete => "off" %>
          <% end %>
        </div>
      </div><br>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= d.label :amount, :class => "input-group-text input-group-addon" %>
        </div>
        <%= d.text_field :amount, :autocomplete => "off", :value =>
        (@ticket.errors.any? ? params[:ticket][:details_attributes]['0'][:amount]
          : @ticket.latest_details.amount),
          :class => (@ticket.errors[:"details.amount"].present? ? "is-invalid form-control" : "form-control") %>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= d.label :location, :class => "input-group-text input-group-addon" %>
        </div>
        <%= d.text_field :location, :autocomplete => "off", :value =>
        (@ticket.errors.any? ? params[:ticket][:details_attributes]['0'][:location]
          : @ticket.latest_details.location),
          :class => (@ticket.errors[:"details.location"].present? ? "is-invalid form-control" : "form-control") %>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= d.label :room_num, "Room", :class => "input-group-text input-group-addon" %>
        </div>
        <%= d.text_field :room, :id => "ticket_details_attributes_0_room_num", :autocomplete => "off", :value =>
        (@ticket.errors.any? ? params[:ticket][:details_attributes]['0'][:room]
          : @ticket.latest_details.room unless
          @ticket.latest_details.r_employee_id.present? ||
          @ticket.latest_details.errors[:r_employee_id].present?),
          :class => (@ticket.errors[:"details.room"].present? ? "is-invalid form-control" : "form-control") %>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= d.label :comment, :class => "input-group-text input-group-addon" %>
        </div>
        <%= d.text_field :comment, :autocomplete => "off", :value =>
        (@ticket.errors.any? ? params[:ticket][:details_attributes]['0'][:comment]
          : @ticket.latest_details.comment),
          :class => (@ticket.errors[:"details.comment"].present? ? "is-invalid form-control" : "form-control") %>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= d.label :s_employee_id, "Employee", :class => "input-group-text input-group-addon" %>
        </div>
        <%= d.text_field :s_employee_id, :autocomplete => "off", :value =>
        (@ticket.errors.any? ? params[:ticket][:details_attributes]['0'][:s_employee_id] : nil),
          :class => (@ticket.errors[:"details.s_employee_id"].present? ? "is-invalid form-control" : "form-control") %>
      </div>
    <% end %><br>
    <div class="text-center">
      <%= f.submit "Update details", :class => "btn btn-secondary"  %>
    </div>
  <% end %>
</div>
