<h2>
  <strong>Ticket number:</strong>
  <a href="<%= ticket_path(@ticket.id) %>"> <%= @ticket.number %> </a>
</h2>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<br><br>

<% @ticket.details.each do |d| %>
  <p>
    <strong>Amount:</strong>
    <%= d.amount %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= d.location %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= d.room %>
  </p>

  <p>
    <strong>Stored by:</strong>
    <%= d.stored_employee.id_number %> -
    <%= d.stored_employee.name %>
  </p>

  <p>
    <strong>Stored at:</strong>
    <%= d.created_at.in_time_zone("Melbourne").strftime('%B %e at %l:%M %p') %>
  </p>

  <p>
    <strong>Retrieved by:</strong>
    <% if d.retrieved_employee %>
      <%= d.retrieved_employee.id_number %> -
      <%= d.retrieved_employee.name %><br><br>

      <strong>Retrieved at:</strong>
      <%= d.updated_at.in_time_zone("Melbourne").strftime('%B %e at %l:%M %p') %>
    <% end %>
  </p>

  <br>
<% end %>

<p>
  <% if @ticket.details.first.retrieved_employee.nil? %>
    <strong>Sign out:</strong>
    <%= form_for @ticket do |f| %>
      <%= f.fields_for :details, f.object.latest_details do |d| %>
        <%= d.hidden_field :updated_at, value: Time.now %>
        <%= d.text_field :r_employee_id %>
      <% end %>
    <p>
      <%= f.submit "Sign Out" %>
    </p>
    <% end %>
  <% end %>
</p>


<p>
  <%= form_for @ticket, method: "post" do |f| %>
    <%= f.fields_for :details, f.object.new_detail do |d| %>
      <p>
        <%= d.label :amount %> <br>
        <%= d.text_field :amount %>
      </p>

      <p>
        <%= d.label :location %> <br>
        <%= d.text_field :location %>
      </p>

      <p>
        <%= d.label :room %> <br>
        <%= d.text_field :room %>
      </p>

      <p>
        <%= d.label :s_employee_id, "Stored employee" %> <br>
        <%= d.text_field :s_employee_id %>
      </p>
    <% end %>

    <%= f.submit "Update ticket details" %>
  <% end %>

</p>
