<!DOCTYPE html>
<html>
  <head>
    <title>StorageApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item <%= params[:controller] == 'pages' && %w(home home_st home_rnr home_lt).include?(params[:action]) ? "active" : "" %>">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item <%= params[:controller] == 'search' && %w(index).include?(params[:action]) ? "active" : "" %>">
              <a class="nav-link" href="/search">Advanced Search</a>
            </li>
            <li class="nav-item <%= params[:controller] == 'pages' && %w(relog).include?(params[:action]) ? "active" : "" %>">
              <a class="nav-link" href="/relog">Relog</a>
            </li>
            <li class="nav-item <%= params[:controller] == 'employees' && %w(index show new update create).include?(params[:action]) ? "active" : "" %>">
              <a class="nav-link" href="/employees">Employees</a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <% if logged_in? %>
                <%= link_to "Log out", logout_path, method: :delete, :class => "nav-link" %>
              <% else %>
                <a class="nav-link <%= current_page?('/login') ? "active" : "" %>" href="/login">Login</a>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="form-container text-center">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      </div><br>
      <%= yield %>
    </div>
  </body>
</html>
